html {     -webkit-font-smoothing: antialiased; }

/***** correction main for IE11 ******/
main {
  display:block;
}

body {
  margin: 0 auto;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

h1, h2, h3 {
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/***** Button *********/

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
/****** container **********/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/**** main-header *********/

.main-header {
  padding-top: 50px;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation ul,
.user-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.site-navigation ul
{
  margin-left: -45px;
}

.site-navigation {
  width: 439px;
}

.user-navigation {
  position: relative;

  margin-left: auto;
  width: 115px;
}

.user-navigation .basket-link {
  position: relative;
  padding-left: 40px;
}

.basket-link:before {
  content:"";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 8px;
  left: 0;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  background: url("../img/cart-icon.svg") no-repeat 0 0 transparent;
}

.main-header-logo {
  margin-right: 202px;
}

.main-header-logo img {
  display: block;
}

.main-header-logo:hover,
.main-header-logo:focus
{
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.main-header-logo:active
{
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.site-navigation li {
  margin-left: 45px;
}

.site-navigation a:link,
.site-navigation a:visited,
.user-navigation a:link,
.user-navigation a:visited
{
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active
{
  color: #000000;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.site-navigation-active {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

/********* Index / Advantages *******/
.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:after{
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1:before,
#product-2:checked ~ .slider-controls .slider-controls-item--2:before,
#product-3:checked ~ .slider-controls .slider-controls-item--3:before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

#product-1:checked ~ .slider-list .slider-slide-1 {
  display: block;
}

#product-2:checked ~ .slider-list .slider-slide-2 {
  display: block;
}

#product-3:checked ~ .slider-list .slider-slide-3 {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 74px 0 82px 0;
}

.slider-slide-1 {
  background: url("../img/slide1.png") no-repeat 93% 16px;;
}

.slider-slide-2 {
  background: url("../img/slide2.png") no-repeat 100% 0;
}

.slider-slide-3 {
  background: url("../img/slide3.png") no-repeat 100% 18px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0 0 27px 0;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}

.slider-button
{
  display: block;
  padding: 10px 10px;
  width: 220px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  color: #ffffff;

  background-color: #fb565a;
  border-radius: 3px;
}

.slider-button:hover,
.slider-button:focus
{
  background-color: #e74246;
}

.slider-button:active
{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

/************* Services ******************/

.services {
  padding-right: 60px;
  margin-bottom: 78px;
  min-height: 348px;
}

.services-list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 350px;

  list-style: none;
  padding:0;
  margin:0;
}

.service-item {
  width: 300px;
  min-height: 348px;
  position: relative;
}

.service-item h3 {
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 21px;
  margin-top: 29px;
}

.service-item p {
  margin: 0 0 32px 0;
}

.service-item img {
  display: block;
}

.service-button
{
  width: 140px;
  padding: 10px 10px;

  line-height: 30px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;

  border-radius: 3px;
}

.service-button:active
{
  color: rgba(255, 255, 255, 0.3);
}

.service-site-button
{
  background-color: #fb565a;
}

.service-site-button:hover,
.service-site-button:focus
{
  background-color: #e74246;
}

.service-site-button:active
{
  background-color: #d7373b;
}

.service-application-button
{
  background-color: #00ca74;
}

.service-application-button:hover,
.service-application-button:focus
{
  background-color: #00bc6c;
}

.service-application-button:active
{
  background-color: #00aa62;
}

.service-presentation-button
{
  background-color: #efc84a;
}

.service-presentation-button:hover,
.service-presentation-button:focus
{
  background-color: #eab534;
}

.service-presentation-button:active
{
  background-color: #e5a722;
}

/********** studio  ********/

.studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  min-height: 524px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.studio ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.studio-work h2
{
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 35px;
}

.studio-figures h3,
.studio-work h3
{
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 22px;
}

.studio-work, .studio-figures
{
  box-sizing: border-box;
}

.studio-work-item {
  position: relative;
}

.studio-work-item:before {
  content: "";
  position:absolute;
  top: 13px;
  left: -36px;
  width: 25px;
  border-top: 2px solid #fb565a;
}

.studio .figures-number
{
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.figures-percent {
  position: relative;
}

.figures-percent:after {
  content: "%";
  position: absolute;
  font-size: 25px;
  top: 18px;
  right: -18px;
}

.studio .figures-text
{
  font-size: 16px;
  line-height: 18px;
}

.studio-work {
  width: 655px;
  padding-top: 33px;
}

.studio-work li {
  margin-bottom: 24px;
  margin-left: 36px;
}

.studio-figures {
  width: 360px;
  padding-top: 38px;
  text-align: center;
}

.studio-figures img {
  margin-bottom: -10px;
}

ul.figures-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.figures-item{
  width: 120px;
  text-align: left;
}

.figures-item .figures-text{
  margin-top: -6px;
}

/***** clients ******/

.clients {
  margin-bottom: 80px;
}

.clients-list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  min-height: 183px;

  box-sizing: border-box;

  margin:0;
  padding:0;
  border-bottom: 2px solid #eeeeee;

  list-style: none;
}

.clients-item
{
  position: relative;
  width: 260px;
  box-sizing: border-box;

  text-align: center;
}


.clients-item:not(:last-child):after {
  content: "";
  position: absolute;
  border-left: 2px solid #eeeeee;
  height: 52px;
  top: 66px;
  right: -21px;
}

.clients-item a {
  display: block;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
;}

.clients-item a:hover,
.clients-item a:focus
{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.clients-item a:active
{
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.clients-academy {
  margin-top: 60px;
}

.clients-borodinski{
  margin-top: 47px;
}

.clients-pink{
  margin-top: 65px;
}

.clients-mishka{
  margin-top: 51px;
}


/*********** main-footer *********/
.footer-contacts {
  position: relative;
  min-height: 416px;
  margin-bottom: 71px;

  background:
    url("../img/map.png") 50% 50% no-repeat #eeeeee;
    url("../img/map-marker.png") 50% 190px no-repeat transparent;
}

.footer-contacts-info {
  position: absolute;
  top: 55px;
  left: 50%;

  width: 319px;
  height: 308px;
  box-sizing: border-box;

  background-color: #ffffff;

  padding-top: 45px;
  padding-left: 50px;
  margin-left: -578px;
}

.footer-contacts-info h2
{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0 0 23px 0;
}

.footer-contacts-info p
{
  line-height: 18px;
  color: #666666;
  margin-bottom: 18px;
}

.footer-contacts-button
{
  display: block;
  line-height: 30px;
  width: 199px;
  margin-top: 38px;
  padding: 10px 10px;

  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.footer-contacts-button:hover,
.footer-contacts-button:focus
{
  background-color: #e74246;
}

.footer-contacts-button:active
{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 82px;
}

.footer-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 260px;
  min-height: 82px;
  margin-right: 140px;
}

.footer-discount {
  width: 560px;
  height: 82px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 80px;
  height: 80px;
  border-radius: 40px;

  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus
{
  background-color: #e74246;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:active
{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1) ;
}

.social-button:active path {
  fill: #e37376;
}

.footer-friends
{
  margin: 0 0 -5px 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.footer-discount
{
  font-size: 16px;
  line-height: 22px;
}

/******** modal ********/

.modal
{
  font-size: 16px;
  line-height: 18px;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
}

.write-us-form label {
  font-weight:bold;
}

.write-us-form input,
.write-us-form textarea
{
  font: inherit;
  color: rgba(68, 68, 68, 0.5);

  padding: 5px;

  border: 2px solid #d7dcde;
}

.write-us-form input:hover,
.write-us-form textarea:hover
{
  border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus
{
  border-color: #b4b9bb;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid
{
  border-color: #b4b9bb;
}

.write-us-button
{
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  background-color: #fb565a;
}

.write-us-button:hover,
.write-us-button:focus
{
  background-color: #e74246;
}

.write-us-button:active
{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

/**********************************************************************************************************************/
/************************************************ Catalog *************************************************************/
/**********************************************************************************************************************/

.catalog-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0;
}

.catalog-header {
  min-height: 305px;
  margin-bottom: 57px;
}

.catalog-page-title{
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;

  margin-top: 73px;
}

/******** Custom range control ***********************/

.range-filter {
  width: 260px;
  margin-top: 52px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*********  Filter *****/

.filters {
  width:  260px;
  min-height: 272px;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter-price {
  margin-bottom:  59px;
}

.filter legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;

  margin-bottom: 0;
}

.filter-grid legend,
.filter-features legend {
  margin-bottom: 18px;
}

.filter-grid {
  margin-bottom: 29px;
}

.filter-features {
  margin-bottom: 31px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;

  line-height: 20px;
  color: #283136;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-input + label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.3;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.filter-input-radio + label:before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;

  top: -2px;
  left: -36px;

  background: url("../img/radio-off.svg") no-repeat 0 0 transparent;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.filter-input-radio:checked + label:before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;

  top: -2px;
  left: -36px;

  background: url("../img/radio-on.svg") no-repeat 0 0 transparent;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.filter-input-checkbox + label:before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;

  top: -2px;
  left: -36px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0 transparent;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.filter-input-checkbox:checked + label:before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;

  top: -2px;
  left: -36px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0 transparent;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  padding: 15px 88px;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1) ;
}

.sorting-catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 760px;
}

/************ sorting order ***********/

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 760px;
  height: 42px;
}

.sorting-types, .sorting-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color:#000000;
}

.sorting-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 270px;
  margin-right: auto;
}

.sorting-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 41px;
}

.sorting-types-item a, .sorting-order-item a {
  color: #000000;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.sorting-types-item a:hover,
.sorting-order-item a:hover,
.sorting-types-item a:focus,
.sorting-order-item a:focus {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.sorting-types-item-current a,
.sorting-order-item-current a,
.sorting-types-item a:active,
.sorting-order-item a:active {
  color: #000000;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.sorting h2 {
  font-size: 18px;
  line-height: 18px;
  margin: 0 265px 0 0;
  font-weight: bold;
  text-transform: uppercase;
}

/************ catalog list ************/

.catalog {
  width: 760px;
  min-height: 2044px;
  margin-bottom: 49px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 60px 0;
  padding: 0;
}

.catalog-item {
  box-sizing: border-box;
  position: relative;
  margin-top: 35px;
  padding-top: 39px;
  width: 360px;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item:before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: 0;
  opacity: 0.12;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=12)";
  background-image: url("../img/browser.svg");
}

.catalog-item:hover:before
{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.catalog-item:nth-child(odd) {
  margin-right: 40px;
}

.catalog-item > a {
  display: block;
}

.catalog-item img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: 1px solid rgba(0, 1, 1, 0.1);
  outline-offset: -1px;
}

.catalog-item:hover .catalog-item-offer
{
  display:block;
}

.catalog-item-offer {
  box-sizing: border-box;
  display: none;
  position: absolute;
  bottom:0;
  width: 100%;
  min-height: 230px;
  text-align: center;
  padding: 0 60px;

  line-height: 18px;

  overflow: auto;
  background-color: #eeeeee;
}

.catalog-item-offer h3
{
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 25px 0 15px 0;
  text-align: center;
}

.catalog-item-button
{
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;
  display: block;
  width: 200px;
  padding: 16px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
  margin-top: 31px;
  border-radius: 3px;
}

.catalog-item-button:hover {
  background-color: #e74246;
}

.catalog-item-button:active {
  background-color: #d7373b;
}

/****** pagination **********/

.pagination-list
{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pagination-item {
  margin-right: 11px;
  margin-bottom: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a
{
  display: block;
  padding: 16px 20px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
  *border: 3px solid #dbdbdb;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-item-next a {
  padding: 16px 80px;
}

.pagination-item a:hover,
.pagination-item-current a:focus {
  color: #000000;

  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;

  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1) ;
}

/************* Modal **************/

.modal {
  display: none;
  position: fixed;
}

.modal-write-us {
  bottom: 180px;
  left: 50%;

  box-sizing: border-box;
  width: 960px;
  padding: 65px 98px 84px 98px;
  margin-left: -480px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  background-color: transparent;

  font-size: 0;

  border:0;

  cursor: pointer;
}

.modal-close:before,
.modal-close:after {
  content: "";

  position: absolute;
  top: 9px;
  left: -4px;

  width: 28px;
  height: 4px;
  background-color: #fecccd;
}

.modal-close:hover:before,
.modal-close:hover:after {
  background-color: #fc9092;
}

.modal-close:active:before,
.modal-close:active:after {
  background-color: #ffeeee;
}

.modal-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-write-us h2 {
  margin: 0 0 25px 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us-form {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.write-us-form input,
.write-us-form textarea
{
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #d7dcde;
  color: rgba(68, 68, 68, 0.5);
}

.write-us-form input:hover,
.write-us-form textarea:hover
{
  border-color: #b4b9bb;
  color: rgba(68, 68, 68, 0.5);
}

.write-us-form input:focus,
.write-us-form textarea:focus
{
  border-color: #000000;
  color: rgba(68, 68, 68, 1);
}


.write-us-name,
.write-us-email {
  width: 360px;
}

.write-us-name {
  margin-right: 40px;
}

.write-us-text {
  margin-bottom: 40px;
}

.write-us-form label{
  display: block;
  padding-bottom: 10px
}

.write-us-text {
  width: 760px;
}

.write-us-button {
  padding: 15px 85px;
  border-radius: 3px;
}

.write-us-form .modal-validation-error {
  border: 2px solid #e74246;
  color: #e74246;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}
